* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

body {
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.957);
  width: 600px;
  max-width: 600px;
  margin: auto;
  margin-top: 40px;
  padding-top: 20px;
  box-shadow: 12px 12px 12px 12px whitesmoke;
}

.container .top {
  padding-top: 40px;
  margin-bottom: 5px;
  color: white;
  text-align: center;
}

.selectall {
  position: relative;
  top: 1.7rem;
  left: -17.6rem;
  margin-top: 5px;
  border: none;
  background-color: white;
  font-size: 20px;
  color: black;
}

.container h1 {
  font-size: 100px;
  font-weight: 300;
  text-align: center;
  color: rgba(77, 8, 8, 0.15);
  text-rendering: optimizeLegibility;
  margin-bottom: 10px;
}

.newtask {
  margin-left: 40px;
  border: none;
  width: 90%;
  padding: 5px;
  float: left;
  font-size: 20px;
  border-radius: 10px;
  color: black;
  background-color: whitesmoke;
}

.middle {
  display: inline;
}
.middle .to-do {
  background-color: #d9d9d9;
  position: relative;
  width: 90%;
  margin-bottom: 5px;
  margin-left: 40px;
  margin-top: 15px;
}
.to-do .checkbox {
  position: absolute;
  top: 7px;
  left: -30px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.to-do .text {
  border: none;
  margin-left: 3px;
  margin-right: 10px;
  margin-bottom: 2px;
  padding: 4px;
  width: 87%;
  background-color: #d9d9d9;
  font-size: 20px;
}

.to-do .text.checked {
  text-decoration: line-through;
}

.to-do .delete {
  background-color: #d9d9d9;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  color: darkslategray;
  margin-left: 5px;
  border: none;
  border-radius: 10px;
  text-align: center;
  color: black;
  font-size: 20px;
}

.to-do .active {
  margin-left: 27px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 1px;
}

.container .bottom {
  margin-top: 20px;
}

span {
  margin-left: 37px;
  margin-right: 58px;
}

ul {
  display: inline-flex;
  list-style-type: none;
  margin-right: 40px;
  margin-bottom: 20px;
}

ul li {
  margin-left: 5px;
  margin-right: 5px;
}

a {
  padding: 0.4rem;
  font-family: none;
  background-color: #d9d9d9;
  color: black;
  text-decoration: none;
  border:#d9d9d9;
  border-radius: 10px;
}

a:hover {
  background-color: red;
}

.clearcompleted {
  font-size: 16px;
  font-family: none;
  padding: 0.4rem;
  border-radius: 10px;
  margin-left: 33px;
  border: none;
  background-color: #d9d9d9;
}
